@use 'sass:meta';
@use '../../../styles/variables' as *;

.history-view {
    padding-bottom: 120px;
    width: calc(100% - #{$content-padding*2});
    max-width: $content-width;
    margin-top: 81px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .date-history-column {
        width: 100%;
        @include meta.load-css('./date-indicator');
        @include meta.load-css('./history-card');
    }
    @include meta.load-css('./floating-button');
}