.table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    width: 100%;
    height: 85%;

    .date-cell {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--light-blue);
        border-radius: 10px;
        padding: 0px 9px 4px 0px;
        width: 100%;
        height: 100%;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;

        &.blur {
            opacity: 0.3;
            .sum-indicator {
                display: none;
            }
        }

        .date-indicator {
            color: var(--black);
            position: relative;
            left: 10px;
            top: 10px;
            &.holiday {
                color: var(--red);
            }
        }

        .sum-indicator {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .income {
                color: var(--blue);
            }

            .expenditure {
                color: var(--red);
            }
        }
    }
}