@use 'sass:meta';

.calendar-view {
    padding-bottom: 120px;

    .calendar {
        margin-top: 81px;
        background-image: none;
        display: flex;
        flex-direction: column;
        --calendar-width: 972px;
        width: var(--calendar-width);
        height: calc(var(--calendar-width) * 0.8);
        box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        padding: 34px 22px;
        background: var(--white);

        @include meta.load-css('./calendar-header.scss');
        @include meta.load-css('./calendar-table.scss');
    }
}