@use '../../../styles/variables' as *;

$blue: #166ff3;
.sum-indicator-wrap {
    margin-top: 54px;
    width: calc(100% - #{$content-padding * 2});
    max-width: $content-width;

    .sum-indicator {
        display: flex;
        flex-direction: row;

        .money-button {
            flex: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            height: 56px;
            line-height: 30px;

            font-size: 25px;
            text-align: center;
            font-weight: bold;
            font-feature-settings: 'tnum' on, 'lnum' on;

            transition: background 200ms ease;

            cursor: pointer;
        }

        .income {
            margin-right: 15px;
            border: 2px solid var(--blue);
            color: var(--blue);

            &.selected {
                background: var(--blue);
                color: white;
            }
        }

        .expenditure {
            border: 2px solid var(--red);
            color: var(--red);

            &.selected {
                background: var(--red);
                color: white
            }
        }
    }
}