@use 'sass:meta';

header {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include meta.load-css('./navigator');
    @include meta.load-css('./month-selector');
    @include meta.load-css('./sum-selector');
}