.sum-indicator-wrap {
    margin-top: 54px;
    width: calc(100% - 30px);
    max-width: 588px;

    .sum-indicator {
        display: flex;
        flex-direction: row;

        .money-button {
            flex: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            height: 56px;
            line-height: 30px;

            font-size: 25px;
            text-align: center;
            font-weight: bold;
            font-feature-settings: 'tnum' on, 'lnum' on;

            transition: background 200ms ease;

            cursor: pointer;
        }

        .income {
            margin-right: 15px;
            border: 2px solid #166ff3;
            color: #166ff3;

            &.selected {
                background: #166ff3;
                color: white;
            }
        }

        .expenditure {
            border: 2px solid #f8123b;
            color: #f8123b;

            &.selected {
                background: #f8123b;
                color: white
            }
        }
    }
}