:root {
  --black: #333333;
  --white: #fff;
  --background: #fff;
  --white-rgb: 255, 255, 255;
  --blue: #166ff3;
  --red: #f8123b;
  --gray: #979797;
  --light-blue: #f5f5f7;
  --gradient-start: #62a1ff;
  --gradient-end: #ff5ac7;
}

* {
  box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 90%;
  }

.body-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  align-items: center;
  font-family:  sans-serif;
  color: #333;
  scroll-behavior: smooth;
  background-attachment: fixed;

  .content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}